#### Environment ####

.env
stata.lic
/bin
/tex/*/*.pdf

#### macOS ####

.DS_Store

#### Windows ####

Thumbs.db
ehthumbs.db

<@ if cookiecutter.r @>
#### R ####

<@ include 'r.gitignore.jinja' @>
<@ endif @>

#### LaTeX ####

<@ include 'latex.gitignore.jinja' @>